<div>Test Render</div>



{{#each blog as |blog| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>     
      <a href="/blog/{{blog.id}}">{{blog.name}}</a>
    </h2>
    <p>Created by {{blog.user_id.name}} on {{format_date blog.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{blog.blog_text}}
    </p>
  </div>
</div>
{{/each}}

<div>Bottom Render</div>